.taskList {
	$parent: &;

	&__listItem {
		position: relative;
		font-size: 1.8rem;
		margin-bottom: $verticalMarginList;
		border-left: 5px solid $textColor;

		&--high {
			background: lighten($priorityHigh, 25%);
			border-color: $priorityHigh;
		}

		&--medium {
			background: lighten($priorityMedium, 25%);
			border-color: $priorityMedium;
		}

		&--low {
			background: lighten($priorityLow, 25%);
			border-color: $priorityLow;
		}
	}

	&__listItem__checkbox {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		display: inline-block;

		+ #{$parent}__listItem__label::after {
			content: none;
		}

		&:checked + #{$parent}__listItem__label {
			text-decoration: line-through;

			&::after {
				content: "";
			}
		}

		&:focus + #{$parent}__listItem__label {
			&::before {
				box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
				outline: none;
			}
		}
	}

	&__listItem__label {
		position: relative;
		display: block;
		padding: $verticalPaddingList $horizontalPaddingList $verticalPaddingList 80px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 30px;
			margin-top: -8px;
			display: inline-block;
			height: 16px;
			width: 16px;
			border: 1px solid $borderGrey;
			background: #FFF;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 32px;
			margin-top: -6px;
			content: "";
			display: inline-block;
			height: 6px;
			width: 12px;
			border-left: 2px solid $textColor;
			border-bottom: 2px solid $textColor;
			transform: rotate(-45deg);
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__completed {
		padding: 50px;
		font-size: 1.8rem;
		text-align: center;
		color: lighten($textColor, 10%);
	}

	&__delete {
		position: absolute;
		right: 30px;
		height: 20px;
		width: 20px;
		top: calc(50% - 10px);
		border: 0;
		background: transparent;

		&::before,
		&::after {
			position: absolute;
			left: 10px;
			top: 0;
			content: " ";
			height: 20px;
			width: 3px;
			background-color: $textColor;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {
			cursor: pointer;

			&::before,
			&::after {
				background: #FFF;
			}
		}
	}
}
